<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OAuth2 with MSAL</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
  </head>

  <body>
    <div class = "container">
      <div class="header box">For Authenticated User Eyes Only</div>
      <div class="content box">
        <p>Welcome to the site!</p><br>
        <a href="{{ url_for('logout') }}">Logout</a></li>
      </div>
      <div class="footer box">Copyright 2020 Udacious Student</div>
    </div>
  </body>
</html>