<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign In</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
  </head>

  <body>
    <div class = "container">
      <div class="header box">Confidential - Log In Required</div>
      <div class="content box">
        <a href="{{ auth_url }}"><img src="{{url_for('static', filename='images/sign-in-with-ms.svg')}}" /></a>
      </div>
      <div class="footer box">Copyright 2020 Udacious Student</div>
    </div>
  </body>
</html>